general:
  # hostname will be used for full URLs
  hostname: 'cloud-fortress.com'
  # ipv4 address to bind to
  ipv4_ip: '0.0.0.0'
  # ipv6 address to bind to
  ipv6_ip: '::'
  # is traffic coming from a L7 load balancer or proxy?
  l7_load_balancer: True
  # header containing source IP
  source_ip_header: 'X-Forwarded-For'

non_ssl:
  # should we run an http webserver?
  enabled: true
  # redirect http to https?
  redirect: false
  # port to listen on for http/ws
  port: 80
  # external port to advertise http (useful for proxy or NAT)
  external_port: 80

ssl:
  # should ssl be enabled?
  enabled: false
  # port to listen on for https/wss
  port: 443
  # external port to advertise https (useful for proxy or NAT)
  external_port: 443
  # RSA key file for SSL encryption
  key_path: ./ssl/cloud-fortress-com.key
  # x509 certificate for SSL encryption
  crt_path: ./ssl/cloud-fortress-com.crt
